In [26]:
import pandas as pd
from difflib import SequenceMatcher

In [27]:
metadata = pd.read_csv('Metadata.csv')
orginfests = pd.read_csv('Organisers_In_Fests.csv')
partinfests = pd.read_csv('Participants_In_Fests.csv')
clubs = pd.read_csv('Clubs_data.csv')

In [28]:
partinfests.head

<bound method NDFrame.head of      Fest_Name             Name            Event
0       fest_1       JenapRowli   fest_1_event_9
1       fest_1    Credyj Duenas   fest_1_event_4
2       fest_2   Jequqlin Duran   fest_2_event_1
3       fest_1   Keiyah widalgo   fest_1_event_4
4       fest_2    Elaine John S  fest_2_event_15
...        ...              ...              ...
4764    fest_2   Candace John B   fest_2_event_7
4765    fest_2  debra clevenger  fest_2_event_11
4766    fest_1    Tharn Strogud   fest_1_event_6
4767    fest_1               HS   fest_1_event_3
4768    fest_2    jadon vandyke   fest_2_event_2

[4769 rows x 3 columns]>

In [29]:
partinfests = partinfests.drop(['Fest_Name'], axis=1)

In [39]:
partinfests["fests"] = partinfests.apply(lambda x: [], axis = 1)

In [40]:
for i in range(len(partinfests["Name"])):
    partinfests["fests"][i].append(partinfests["Event"][i])

In [41]:
partinfests.head()

             Name            Event              fests
0      JenapRowli   fest_1_event_9   [fest_1_event_9]
1   Credyj Duenas   fest_1_event_4   [fest_1_event_4]
2  Jequqlin Duran   fest_2_event_1   [fest_2_event_1]
3  Keiyah widalgo   fest_1_event_4   [fest_1_event_4]
4   Elaine John S  fest_2_event_15  [fest_2_event_15]

In [44]:
for i in range(len(partinfests["Name"])):
    for j in range(i+1,len(partinfests["Name"])):
        a = partinfests["Name"][i]
        b = partinfests["Name"][j]
        ratio = SequenceMatcher(None, a, b).ratio()
        if ratio > 0.7:
            partinfests["fests"][i] = partinfests["fests"][i] + partinfests["fests"][j]
            partinfests.drop(labels=[j],axis=0)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53

KeyboardInterrupt:

In [43]:
partinfests.head

<bound method NDFrame.head of                  Name            Event  \
0          JenapRowli   fest_1_event_9
1       Credyj Duenas   fest_1_event_4
2      Jequqlin Duran   fest_2_event_1
3      Keiyah widalgo   fest_1_event_4
4       Elaine John S  fest_2_event_15
...               ...              ...
4764   Candace John B   fest_2_event_7
4765  debra clevenger  fest_2_event_11
4766    Tharn Strogud   fest_1_event_6
4767               HS   fest_1_event_3
4768    jadon vandyke   fest_2_event_2

                                                  fests
0     [fest_1_event_9, fest_2_event_3, fest_1_event_...
1     [fest_1_event_4, fest_1_event_9, fest_2_event_...
2     [fest_2_event_1, fest_2_event_5, fest_2_event_...
3     [fest_1_event_4, fest_1_event_1, fest_1_event_...
4     [fest_2_event_15, fest_1_event_13, fest_1_even...
...                                                 ...
4764                                   [fest_2_event_7]
4765                                  [fest_2_event_11]
4766                                   [fest_1_event_6]
4767                                   [fest_1_event_3]
4768                                   [fest_2_event_2]

[4769 rows x 3 columns]>